<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/ngo.png" alt="" />
  </div>
  <div class="headings">
    <h2>Barc Foundation</h2>
    <h3>Faith | Care | Hope</h3>
    <a href="/users" class="btn">View Users</a>
  </div>
</header>

<%- include('partials/footer'); -%>
